/* Teamtreehouse Unit 2 Project Stylesheet */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div, p, li, a{
    font-family:'Nanum Gothic', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/* Body */

body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #f8f8f8;
	margin: 8px;
}

.wrapper{
	padding:3%;
}

p{
	font-size: 1.5rem;
}

/* Header */
header{
	text-align: center;
	line-height: 1.5;
	width:100%;
	border-bottom: 10px;
}

.main-title{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

.container{
	width:90%;
	text-align: center;
	margin: 0 auto; 
}

.nav-item{
	padding: 0.5em 1em 0.5em 1em;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin: 3px;
	background: white;
}

.nav-item:hover{
	transform: translateY(-2px);
	transition: 0.3s;
	background: #8f8f8f;
}

.profile-img{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.profile-message{
	margin: 5px 0px 15px 0px;
}

/* Main */

.flex{
	padding-top: 10px;
	background: white;
}

#portfolio{
	display:inline-block;
}

.main-header{
	text-transform: uppercase;
}

.portfolio-img{
	width: 300px;
	padding: 5px 0px 5px 0px;
	margin: 3px;
	display: inline-block;
}

footer{
	padding-bottom: 30px;
}

.footer-header{
	padding-top: 50px;
	padding-bottom: 15px;
	color: #a9a9a9;
}

li.social-media{
	padding: 5px 10px 5px 10px;
	display: inline;
	transition: all .3s;
}


li.skill{
	padding: 8px 5px 8px 5px;
	background: #5b29f2;
	border-radius: 3px;
	margin-top:10px;
	margin-bottom:10px;
}

.bottom-left{
	position: absolute;
	padding-bottom: 10px;
	left: 100px;
}

/*
@media screen and (min-width: 768px){	
	.main-nav{
		justify-content: flex-end; /* flex-end is smart enough to justify horizontally and veritcally to the far end (horiz = right, vertical = bottom)*/
/*
	}
	
	.main-title{
		font-size: 12px;
	}

	.nav-item{
		font-size: 9px;
	}

}

@media screen and (min-width: 1024px){

	.container{
		display: flex;
  		align-items: flex-start;
  		justify-content: space-around;
	}

	.main-title{
		font-size: 12px;
		align-self: flex-end;
	}

}
*/