/* Teamtreehouse Unit 2 Project Stylesheet */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div, p, li, a{
    font-family:'Nanum Gothic', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style: none;
}

/* Body */

body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #f8f8f8;
	margin: 8px;
}

.wrapper{
	padding:3%;
}

p{
	font-size: 16px;
}

/* Header */
header{
	text-align: center;
	line-height: 1.5;
	width:100%;
	border-bottom: 10px;
}

.main-title{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

.container{
	width:90%;
	text-align: center;
	margin: 0 auto; 
}

.nav-item{
	padding: 0.5em 1em 0.5em 1em;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin: 3px;
	background: white;
}

.nav-item:hover{
	transform: translateY(-2px);
	transition: 0.3s;
	background: #8f8f8f;
}

.profile-img{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.profile-message{
	margin: 5px 0px 15px 0px;
}

/* Main */

#portfolio{
	padding-top: 10px;
	background: white;
	padding: 3%;
}

.main-header{
	text-transform: uppercase;
}

img.portfolio-img{
	width: 100%;
	padding: 5px 3px 5px 3px;
	display: inline-block;
}

footer{
	padding-bottom: 30px;
}

.footer-header{
	padding-top: 50px;
	padding-bottom: 15px;
	color: #a9a9a9;
}

.footer-p{
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.footer-name{
	padding: 3px;
	margin: 3px;
	float: left;
	font-size: 14px;
}

.footer-button{
	padding: 3px;
	margin: 3px;
	float:right;
	font-size: 12px;
}

.footer-button:hover{
	background: #8f8f8f;
}


/*
@media screen and (min-width: 768px){	
	.main-nav{
		justify-content: flex-end; /* flex-end is smart enough to justify horizontally and veritcally to the far end (horiz = right, vertical = bottom)*/
/*
	}
	
	.main-title{
		font-size: 12px;
	}

	.nav-item{
		font-size: 9px;
	}

}

@media screen and (min-width: 1024px){

	.container{
		display: flex;
  		align-items: flex-start;
  		justify-content: space-around;
	}

	.main-title{
		font-size: 12px;
		align-self: flex-end;
	}

}
*/